<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>com.app.LoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAction1</servlet-name>
        <servlet-class>com.app.LoginAction1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>predick</servlet-name>
        <servlet-class>com.app.predick</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudOperation</servlet-name>
        <servlet-class>com.app.CrudOperation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addfeedback</servlet-name>
        <servlet-class>com.app.addfeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.app.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.app.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adddisease</servlet-name>
        <servlet-class>com.app.adddisease</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutadmin</servlet-name>
        <servlet-class>com.app.logoutadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contactus</servlet-name>
        <servlet-class>com.app.Contactus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAction1</servlet-name>
        <url-pattern>/LoginAction1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>predick</servlet-name>
        <url-pattern>/predick</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudOperation</servlet-name>
        <url-pattern>/CrudOperation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addfeedback</servlet-name>
        <url-pattern>/addfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adddisease</servlet-name>
        <url-pattern>/adddisease</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutadmin</servlet-name>
        <url-pattern>/logoutadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contactus</servlet-name>
        <url-pattern>/Contactus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>frontpage.html</welcome-file>
    </welcome-file-list>
</web-app>
